.ipynb_checkpoints/
Jupyter Notebook_Praktikum/praktikum2/.ipynb_checkpoints/
Jupyter Notebook_Praktikum/praktikum3/.ipynb_checkpoints/
Praktikum 4/.ipynb_checkpoints/
Praktikum 6/.ipynb_checkpoints/